/** Test **/
.test {
	/*border: 1px solid black;*/
}
.test * {
	/*border: 1px solid black;*/
}

/** Menu - One Row **/
ul.menu-type-a {
	display:inline-block;
	height:100%;
	margin:0px; padding: 0px;
	text-align: center;
}
.menu-type-a li {
	display: inline-block;
	width: 100px; height:100%;
	text-align:center;
}
.menu-type-a a {
	display: block;
	text-decoration: none;
	width:100%; height:100%;
	background:;
	color: black;
}
.menu-type-a a:hover {
	background: #bbe7f7;
	color:#555555;
}

/** Menu - Vertical **/
ul.menu-type-b  {
	widht:100%;
	margin:0px; padding: 0px;
	text-align: center;
}
.menu-type-b li {
	display: inline-block;
	width: 100%; height: 40px;
	text-align:center;
	border-radius: 10px;
}
.menu-type-b a {
	display: block;
	text-decoration: none;
	text-align: left;
	width:100%; height:100%;
	background:;
	color: black;
}
.menu-type-b a:hover {
	background: #bbe7f7;
	color:#555555;
}

.menu-selected {
	background: yellow;
	font-weight: bold;
}




.help-header {
	/*display:inline-block;*/
	/*width: 200px; height: 100px;*/
	border:1px solid black; margin: 0px; padding: 0px;
	border-radius: 15px;
	overflow:auto;
	flex:0 0 100px;
	/*order:1; align-self: auto;*/
	background: #83c5d6;
}
.help-menu {
	/*display:inline-block;*/
	/*width: 200px; height: 90%;*/
	/*border:1px solid black; */
	margin: 0px; padding: 0px;
	overflow:auto;
	flex:0 0 200px;
	/*order:1; align-self: auto;*/
}
.help-context {
	display:flex;
	/*border:1px solid #FFFFFF; */
	margin: 0px; padding: 0px;
	overflow:hidden;
	max-width:2048px; /*max-width:1024px; */
	/*text-align:center;*/
	/*align-items: flex-start;*/
	/*align-content: flex-start;*/
	/*flex-direction: row; flex-wrap: wrap;*/
	/*justify-content:space-between;*/
}
.help-view {
	/*display:inline-block;*/
	/*width: 80%; height: 90%;*/
	/*border:1px solid black; */
	margin: 0px; padding: 10px;
	overflow:auto;
	flex:2 0 0px;
	/*order:1; align-self: auto;*/
}



.tester {
	display: flex;
	width: 100%; height:100%;
	/*border: 1px solid red;*/
	margin: 0px; padding: 0px;
	border-radius: 7px;
	/*text-align:center;*/
	/*align-items: flex-start;*/
	/*align-content: flex-start;*/
	/*flex-direction: row; */
	flex-wrap: wrap;
	/*justify-content:space-between;*/
}
.editor {
	/*display:inline-block;*/
	/*width: 50%; height:;*/
	/*min-height:200px;*/
	/*max-width:50%;*/
	border: 1px solid black;
	border-radius: 7px;
	/*overflow:auto;*/
	flex:1 0 250px; order:2; align-self: auto;
}
.runner {
	/*display:inline-block;*/
	/*width: 50%; height:300px;*/
	min-height:200px;
	background:#eeeeee;
	/*max-width:50%;*/
	border: 1px solid black;
	border-radius: 7px;
	overflow:hidden;
	flex:1 0 250px; order:2; align-self: auto;
}

iframe{
	width:100%;
	height:100%;
	min-height:200px;
}




div[data-pop], .sj-popman-obj-container {
	overflow-x: hidden;
}

.icon {
	cursor:pointer;
}
.icon-code-extends {
	width: 40px;
	height: 45px;
	border-radius: 12px;
	margin: 2px;
}
.icon-code-extends:hover {
	opacity: .7;
}
.icon-copy {
	background-image: url("../image/icon-copy.png");
	background-size: 100% 100%;
}



/***************************************************************************
*
* Tooltip
*
***************************************************************************/
.tooltipped {
	position: relative
}

.tooltipped:after {
	position: absolute; z-index: 1000000; display: none; padding: 5px 8px; font: normal normal 11px/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; color: #fff; text-align: center; text-decoration: none; text-shadow: none; text-transform: none; letter-spacing: normal; word-wrap: break-word; white-space: pre; pointer-events: none; content: attr(aria-label); background: rgba(0, 0, 0, 0.8); border-radius: 3px; -webkit-font-smoothing: subpixel-antialiased
}

.tooltipped:before {
	position: absolute; z-index: 1000001; display: none; width: 0; height: 0; color: rgba(0, 0, 0, 0.8); pointer-events: none; content: ""; border: 5px solid transparent;
}

.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
	display: inline-block; text-decoration: none;
}

.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
	top: 100%; right: 50%; margin-top: 5px;
}

.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
	top: auto; right: 50%; bottom: -5px; margin-right: -5px; border-bottom-color: rgba(0, 0, 0, 0.8);
}

.tooltipped-s:after, .tooltipped-n:after {
	-webkit-transform: translateX(50%); -ms-transform: translateX(50%); transform: translateX(50%);
}





/***************************************************************************
 * SCROLLBAR
 ***************************************************************************/
/* width */
::-webkit-scrollbar {
	width: 16px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #a1e2d6;
	border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #71d9da;
}






/***************************************************************************
*
* MediaQuery
*
***************************************************************************/
@media (min-width: 100px) and (max-width: 1279px) {
	.tester {
		display: block;
	}
}


@media (min-width: 1280px){
	.tester {
		display: flex;
	}
}

